.label-cont{
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    .btn-collapse {
      font-family: Poppins;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #000;
      background: #F7F9FA;;
      padding: 5px 13px;
      border: 3px solid #F7F9FA;;
      box-sizing: border-box;
      border-radius: 10px;
      transition: background-color 0.5s ease;
      transition: color 0.5s ease;
      transition: border 0.5s ease;
      margin-right: 10px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:focus {
        outline: none;
      }
      @media (max-width: 1269px) {
        width: 90%;
        margin: 0 auto 10px auto;
      }
    }
  }
  .cont-select {
    display: none;
  }
  .rotate{
    transform: rotate(180deg);
  }